#root {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 20% auto;
  justify-content: stretch;
  align-items: stretch;
    gap:5rem;
    overflow-x: hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-background: #075aaa; /*persian blue*/
  --primary-foreground: #eb2226; /*pigment red*/
  --secondary-background: #01295c; /* cool black */
  --secondary-foreground: #b9cfed; /*beau blue*/
  --tertiary-background: #efe9e5; /*alabaster*/
  --tertiary-foreground: #a7a9ac; /* metalic silver*/
}

html body {
  background-color: var(--secondary-background);
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

body {
  gap: 2rem;
}

ul {
  display: table-row;
  padding-left: 0;
  list-style: none;
}

@media (min-width: 320px) {
  #root {
    text-align: center;
    height: 100vh;
    width: 100vw;
    gap:5rem;
  }
  #root:nth-child(1) {
    grid-row: 1;
  }
}
